<!-- side-nav.component.html -->
<div class="bg-light p-3 d-none d-md-block text-center mb-3">
  <h4 class="menu-np mb-2 title-table">NAVEGACIÓN PRINCIPAL</h4>
  <ul class="list-unstyled">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          CLIENTES
        </mat-expansion-panel-header>
        <button class="w-100 mb-2" mat-flat-button color="accent" (click)="obtenerinfo('1')">PERSONA FISICA</button>
        <button class="w-100" mat-flat-button color="accent" (click)="obtenerinfo('2')">PERSONA MORAL</button>
      </mat-expansion-panel>
    </mat-accordion>
  </ul>
</div>
