<!-- side-nav.component.html -->
<div class="bg-light p-3 d-none d-md-block text-center mb-3">
  <h4 class="menu-np mb-2 title-table">NAVEGACIÓN PRINCIPAL</h4>
  <ul class="list-unstyled">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header> CLIENTES </mat-expansion-panel-header>
        <button
          class="w-100 mb-2"
          mat-flat-button
          color="accent"
          (click)="obtenerinfo('1')"
        >
          PERSONA FISICA
        </button>
        <button
          class="w-100 mb-2"
          mat-flat-button
          color="accent"
          (click)="obtenerinfo('2')"
        >
          PERSONA MORAL
        </button>
        <button
          class="w-100 mb-2"
          mat-flat-button
          color="accent"
          (click)="obtenerinfo('3')"
        >
          MOVIMIENTOS
        </button>
      </mat-expansion-panel>
    </mat-accordion>
  </ul>
</div>
<div class="bg-light p-3 d-none d-md-block text-center mb-3">
  <mat-card class="card-cliente">
    <mat-card-header>
      <mat-card-title>Clientes</mat-card-title>
      <mat-card-subtitle>Conteo de Clientes Físicos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        Total de clientes: <strong>{{ totalClientesFisicos }}</strong>
      </p>
    </mat-card-content>
    <mat-card-subtitle> Conteo de Clientes Morales </mat-card-subtitle>
    <mat-card-content>
      <p>
        Total de clientes: <strong>{{ totalClientesMorales }}</strong>
      </p>
    </mat-card-content>
  </mat-card>
</div>
